<h1 class="title">Teilnahme</h1>
<ol class="rules-list">
  <li>Zur Anmeldung eine Email an <a href="mailto:info@bierpong-liga.de">info@bierpong-liga.de</a></li>
  Notwendige Anmeldeinformation:
  <ol><li>Name der Spieler (Vor und Nachname)</li><li>Teamname</li></ol>
  <li>Teilnahmeberechtigt sind grundsätzlich nur Personen aus 2B</li>
  <li>Ausnahmen sind über eine Wildcard des Komitees möglich (Anmeldung über o.g. Mail; Anschließend auf Anwort warten)</li>
  <li>Der Beitritt in einer laufenden Saison ist grundsätzlich erlaubt, jedoch steigt das Team mit dem Elo-Score des schlechtesten Teams ein.</li>
  <li>Um nicht Disqualifiziert zu werden, muss an mindestens zwei Spieltagen im Monat teilgenommen werden.</li>
</ol>
