<h1 class="title">Das Ligasystem</h1>
<ol class="rules-list">
  <li>Spieltag: Immer Montags ab 18 Uhr.</li>
  <li>Austragungsort: Treppenaufgang 1.OG Gebäude 20/200.</li>
  <li>Ein Team besteht aus zwei festen Spielern.</li>
  <li>Maximal zwei Ligaspiele pro Spieltag/Team (alles Weitere ist Training).</li>
  <li>Eine Bierpong-Liga-Saison &#x2259; 1 Trimester unter berücksichtigung der Prüfungsphase</li>
  <li>Der Anzug ist freigestellt - (Der Anstand muss gewahrt bleiben).</li>
  <li>Das Siegerteam der Saison erwartet eine Auszeichnung.</li>
  <li>Die Spiele werden über ein <a href="https://de.wikipedia.org/wiki/Elo-Zahl">Elo-Score-System</a> gewertet. (Berücksichtigt die Becherdifferenz).</li>
  <li>Jedes Team ist für seine Bierbeschaffung selbst verantwortlich.</li>
  <li>Um die Elozahl zu bestimmen spielt zu Beginn jeder gegen jeden.</li>
  <li>Anschließend eine Unterteilung in den Gruppen je nach Leistung (weiteres folgt nach Anmeldeschluss)</li>
</ol>
