<div class="row mt-5">
  <div class="col-md-12">
    <div class="bg-white mb-3 rounded d-block d-lg-flex align-items-center p-3 next-match shadow">
      <div class="mr-auto order-md-1 w-60 text-center text-lg-left mb-3 mb-lg-0">
        Position
        <div style="display: flex"><h1>{{pos}}.     <span class="h6 label align-bottom"> mit <span class="h5">{{team.punkte}}</span> Punkten</span></h1></div></div>


      <div class="ml-auto pr-4 order-md-2">
        <div class="h5 text-black text-uppercase text-center text-lg-left">
          <div class="d-block d-md-inline-block mb-3 mb-lg-0">
            <span class="d-block d-md-inline-block ml-0 ml-md-3 ml-lg-0">{{team.spieler_1}}</span>
          </div>
          <span class="text-muted mx-3 text-normal mb-3 mb-lg-0 d-block d-md-inline ">und</span>
          <div class="d-block d-md-inline-block">
            <span class="d-block d-md-inline-block ml-0 ml-md-3 ml-lg-0">{{team.spieler_2}}</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




