<div class="row mt-5">
  <div class="col-md-12">
    <div class="{{bg}} mb-3 rounded d-block d-lg-flex align-items-center p-3 next-match shadow">
      <div class="mr-auto order-md-1 w-60 text-center text-lg-left mb-3 mb-lg-0">
        Position
        <div style="display: flex"><h1>{{pos}}.     <span class="h6 label align-center"> mit <span class="h5">{{team.punkte}}</span> Punkten</span></h1></div></div>


      <div class="ml-auto pr-4 order-md-2">
        <div class="h5 text-black text-uppercase text-lg-right">
          <p></p>
          <span class="d-block d-md-inline-block ml-0 ml-md-3 ml-lg-0">{{team.teamname}}</span>
          <p><span class="text-uppercase small country">{{team.spieler_1}} und {{team.spieler_2}}</span></p>
        </div>
      </div>


    </div>
  </div>
</div>




