<h1 class="title">Beerpong Regeln 20/200</h1>
<ol class="rules-list">
  <li>2 vs. 2 / 10 Becher + 2 Bier pro Team / 2 Bälle</li>
  <li>Es finden keine Gastwürfe statt!</li>
  <li>Der Ellenbogen muss beim Wurf hinter der Tischkante sein.</li>
  <li>Ein Wurf darf nicht an das andere Mitglied abgegeben werden.</li>
  <li>Die Entscheidung über den Anwurf wird durch eine Runde Schere-Stein-Papier getroffen.</li>
  <li>Aufsetzer dürfen abgewehrt werden.</li>
  <li>Trifft ein Aufsetzer muss die doppelte Anzahl an Bechern getrunken werden (das werfende Team entscheidet welche Becher zusätzlich getrunken werden müssen).</li>
  <li>Treffen beide Würfe, werden die Bälle zurückgegeben.</li>
  <li>Treffen beide Würfe den gleichen Becher müssen alle angrenzenden Becher getrunken werden.</li>
  <li>Alle durch den Ball berühten Becher müssen bei einem Treffer getrunken werden.</li>
  <li>Rollt der Ball über die Hälfte des Tisches zurück, darf nochmal geworfen werden. (Trickshot)</li>
  <li>Bälle werden weder aus den Bechern gepustet noch gefingert.</li>
  <li>Wird ein Becher umgeworfen (Abwehrversuche usw.) gilt dieser als getroffen und ist ggf. auszutrinken.</li>
  <li>Wird ein Becher dirch einem Wurf vom Tisch befördert wird, muss das Team dem der Becher heruntergefallen ist ein Strafbier auf alle eigenen noch stehenden Becher verteilen.</li>
  <li>Wird ein Ball im Flug unrechtmäßig berührt muss ein durch das Gegnerteam bestimmter Becher getrunken werden.</li>
  <li>Der Ball bleibt im Becher, bis der zweite Wurf stattgefunden hat.</li>
  <li>Nach dem Treffen des letzten Bechers hat das andere Team immer zwei Nachwürfe.</li>
  <li>Bei Unentschieden (durch Nachwürfe) werden pro Team drei Becher aufgestellt und mit einem Bier gefüllt.</li>
  <li>Bei Diskussionen über die Regeln muss ein Strafbier durch die diskutierende Person getrunken werden.</li>
</ol>
