/* You can add global styles to this file, and also import other style files */
.background-logo {
  height: auto;
  max-height: 90vh;
  width: 80%;
  display: inline-block;
  position: fixed;
  opacity: 20%;
  top: 10vh;
  left: 10%;
  z-index: -20
}
